In [1]:
import pandas as pd

In [45]:
#Read in all CSVs

county_data = pd.read_csv("C:/Users/adina/Desktop/Classwork/Project 1/Project-1/CO County Data.csv",encoding = "ISO-8859-1")
weather_data = pd.read_csv("C:/Users/adina/Desktop/Classwork/Project 1/Project-1/Weather API Data CSVs/20_21_22_Mondays.csv")
census_data = pd.read_csv("C:/Users/adina/Desktop/Classwork/Project 1/Project-1/Census Energy Data CSV/Energy_Type.csv")

In [46]:
#Display county data

county_data.head()

,FIPS,County,County Seat(s),Population (2010),Land Area km2,Land Area mi2,Water Area km2,Water Area mi2,Total Area km2,Total Area mi2,Latitude,Longitude
0,8001,Adams,Brighton,"441,603","3,024.21","1,167.65",42.070,16.243,"3,066.28","1,183.90",39.874325,-104.331872
1,8003,Alamosa,Alamosa,"15,445","1,871.64",722.643,1.808,0.698,"1,873.45",723.341,37.568442,-105.788041
2,8005,Arapahoe,Littleton,"572,003","2,067.07",798.1,19.004,7.337,"2,086.07",805.437,39.644632,-104.331733
3,8007,Archuleta,Pagosa Springs,"12,084","3,496.94","1,350.18",13.828,5.339,"3,510.77","1,355.51",37.202395,-107.050863
4,8009,Baca,Springfield,"3,788","6,617.33","2,554.97",6.142,2.372,"6,623.48","2,557.34",37.303144,-102.535457

In [47]:
# Calculate averages for weather data by county and make new data frame

weather_data_avg = weather_data.groupby('County').mean().reset_index()
weather_data_avg.head()

,County,tempmax,tempmin,temp,humidity,precipcover,cloudcover,solarradiation,solarenergy,uvindex
0,Adams,65.986538,39.743590,52.216667,46.734615,5.128077,51.708333,267.446795,15.969231,7.044872
1,Alamosa,61.483333,27.653205,44.257051,51.496154,4.166538,19.875000,306.921795,18.847436,7.461538
2,Arapahoe,65.786538,39.827564,52.123718,46.576282,5.128077,51.721795,250.159615,14.717308,6.250000
3,Archuleta,59.490385,32.628846,45.607692,54.287821,6.196667,27.409615,218.167308,17.635256,7.038462
4,Baca,70.808974,40.612179,55.192308,50.415385,2.964679,18.840385,295.008333,17.812179,7.262821

In [48]:
# Replace county names in census data to make them consistent with the other data frames and rename some columns

new_counties = []
for index, row in census_data.iterrows():
    county = row['Name']
    new_county = county.split(', ')[0].replace(' County','')
    new_counties.append(new_county)    

census_data['Name'] = new_counties
census_data = census_data.rename(columns={'County':'County Number'})
census_data = census_data.rename(columns={'Name':'County'})
census_data.head()

,County,Estimate!!Total:,Estimate!!Total:!!Utility gas,"Estimate!!Total:!!Bottled, tank, or LP gas",Estimate!!Total:!!Electricity,"Estimate!!Total:!!Fuel oil, kerosene, etc.",Estimate!!Total:!!Coal or coke,Estimate!!Total:!!Wood,Estimate!!Total:!!Solar energy,Estimate!!Total:!!Other fuel,Estimate!!Total:!!No fuel used,State,County Number,State.1
0,Phillips,1689,1041,264,347,2,0,0,0,25,10,8,95,NaN
1,Archuleta,5858,2510,1736,591,0,4,862,55,81,19,8,7,NaN
2,Denver,301501,202325,3435,88795,363,8,333,814,2826,2602,8,31,NaN
3,Kiowa,638,402,134,67,0,0,15,0,17,3,8,61,NaN
4,Huerfano,3225,1223,1048,413,0,0,493,19,24,5,8,55,NaN

In [59]:
# Merge all data on county name

all_data = pd.merge(census_data,county_data,on='County')
all_data = pd.merge(all_data,weather_data_avg,on='County')
all_data.head()

,County,Estimate!!Total:,Estimate!!Total:!!Utility gas,"Estimate!!Total:!!Bottled, tank, or LP gas",Estimate!!Total:!!Electricity,"Estimate!!Total:!!Fuel oil, kerosene, etc.",Estimate!!Total:!!Coal or coke,Estimate!!Total:!!Wood,Estimate!!Total:!!Solar energy,Estimate!!Total:!!Other fuel,...,Longitude,tempmax,tempmin,temp,humidity,precipcover,cloudcover,solarradiation,solarenergy,uvindex
0,Phillips,1689,1041,264,347,2,0,0,0,25,...,-102.345105,68.353846,39.351282,52.939744,56.822436,2.590833,16.762821,222.436538,14.953846,5.942308
1,Archuleta,5858,2510,1736,591,0,4,862,55,81,...,-107.050863,59.490385,32.628846,45.607692,54.287821,6.196667,27.409615,218.167308,17.635256,7.038462
2,Denver,301501,202325,3435,88795,363,8,333,814,2826,...,-104.880625,65.848077,39.699359,52.000641,46.857692,5.128077,51.629487,244.592308,14.983333,6.282051
3,Kiowa,638,402,134,67,0,0,15,0,17,...,-102.756210,71.191026,38.971795,54.469231,51.231410,3.365449,19.105128,207.478205,16.956410,6.910256
4,Huerfano,3225,1223,1048,413,0,0,493,19,24,...,-104.959928,61.376923,35.865385,47.028846,47.954487,6.303782,22.929487,261.196795,16.146795,7.288462

In [60]:
# Export to CSV

all_data.to_csv("C:/Users/adina/Desktop/Classwork/Project 1/Project-1/CensusWeatherCounties.csv",index=False)